language: node_js
node_js:
  - "node" # Latest version
  - "8.9.0" # Minimum supported version

# Enable Greenkeeper's support for npm 5+ lockfiles: https://github.com/greenkeeperio/greenkeeper-lockfile
before_install:
  - npm install -g greenkeeper-lockfile@1
install:
  - npm install # Travis' default is to use `npm ci` which does NOT update the lockfile
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
