name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

  workflow_dispatch: # Allows the workflow to be triggered manually

jobs:
  unit-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: ['14', 'lts/*', 'latest'] # 14 is the oldest supported Node.js version

    steps:
      - uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm test
